@page
@model myfirstproject.Pages.AboutUsModel
@{
}
    <h1>About Us</h1>
    -Informative. It doesn’t always have to tell your whole story, but it should at least provide people with an idea of .
    Contain social proof, testimonials, and some personal information that visitors can relate to, such as education, family, etc.
    </br>-Useful.
    </br>-Engaging.
    </br>-Easy to navigate.
    </br>-Accessible on any device.