@page
@model myfirstproject.Pages.ForumsModel
@{
}
    <h1>Forums</h1>
    The most popular forum websites are focused on technology. Other popular forum sites include game sites and home/hobby sites that cover topics like photography and cooking. We’ve chosen five of the best chat and forums where you can ask questions, find info, and share your own stories.
