@page
@model myfirstproject.Pages.NewsModel
@{
}
    <h1>News</h1>
    Get the latest breaking news on the Philippines and the world: News, Business, Overseas, Entertainment, Sports, and Lifestyle in text, video, photos, infographics